# Python - MySql

------

>pip install mysql-connector     (       skip this )


>pip install mysql-connector-python

>pip install mysql-connector-python-rf

# Test MySQL Connector
To test if the installation was successful, or if you already have "MySQL Connector" installed, create a Python page with the following content:

- If the above code was executed with no errors, "MySQL Connector" is installed and ready to be used.

In [2]:
 import mysql.connector

# Create Connection
Start by creating a connection to the database.

Use the username and password from your MySQL database:

In [3]:
mydb = mysql.connector.connect(host='localhost', 
                               user='root', 
                               password='1234')


print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000016C78FABD88>

# initialize the cursor

In [4]:

mycursor = mydb.cursor()

# Creating a Database
To create a database in MySQL, use the "CREATE DATABASE" statement:

In [5]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE dev1")


# If the above code was executed with no errors, 
# you have successfully created a database.

# Check if Database Exists
You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement:

In [5]:
# Return a list of your system's databases:


mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('classicmodels',)
('fkdemo',)
('information_schema',)
('mydatabase1',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('world',)

# Try connecting to the database "mydatabase":

- If the database does not exist, you will get an error.

In [6]:
mydb = mysql.connector.connect(host='localhost',
                               user='root',
                               passwd='1234', 
                               database='classicmodels')

# Creating a Table
To create a table in MySQL, use the "CREATE TABLE" statement.

Make sure you define the name of the database when you create the connection

In [7]:
# Create a table named "customers":

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers1 (name VARCHAR(255), address VARCHAR(255))")

# Check if Table Exists
You can check if a table exist by listing all tables in your database with the "SHOW TABLES" statement:

In [8]:
# Return a list of your system's databases:


mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('checklists',)
('committees',)
('customers',)
('customers1',)
('empl',)
('employees',)
('employees_audit',)
('members',)
('offices',)
('orderdetails',)
('orders',)
('payments',)
('pkdemos',)
('productlines',)
('products',)
('task',)
('tasks',)
('test',)
('test2',)
('users',)

# Primary Key
When creating a table, you should also create a column with a unique key for each record.

This can be done by defining a PRIMARY KEY.

We use the statement "INT AUTO_INCREMENT PRIMARY KEY" which will insert a unique number for each record. Starting at 1, and increased by one for each record.

In [10]:
# Create primary key when creating the table:


mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers2 (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

# If the table already exists, use the ALTER TABLE keyword:

In [13]:
# Create primary key on an existing table:

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers1 ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

# Insert Into Table
To fill a table in MySQL, use the "INSERT INTO" statement.

In [14]:
# Insert a record in the "customers" table:


mycursor = mydb.cursor()

sql = "INSERT INTO customers1 (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

- Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

# Insert Multiple Rows
To insert multiple rows into a table, use the "executemany()" method.

The second parameter of the "executemany()" method is a list of tuples, containing the data you want to insert:

In [15]:
# Fill the "customers" table with data:



mycursor = mydb.cursor()

sql = "INSERT INTO customers1 (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

# Get Inserted ID
You can get the id of the row you just inserted by asking the cursor object.

- Note: If you insert more that one row, the id of the last inserted row is returned.

In [17]:
# Insert one row, and return the ID:


mycursor = mydb.cursor()

sql = "INSERT INTO customers1 (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

# Select From a Table
To select from a table in MySQL, use the "SELECT" statement:

In [7]:
# Select all records from the "customers" table, and display the result:


mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM orders")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(10100, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363)
(10101, datetime.date(2003, 1, 9), datetime.date(2003, 1, 18), datetime.date(2003, 1, 11), 'Shipped', 'Check on availability.', 128)
(10102, datetime.date(2003, 1, 10), datetime.date(2003, 1, 18), datetime.date(2003, 1, 14), 'Shipped', None, 181)
(10103, datetime.date(2003, 1, 29), datetime.date(2003, 2, 7), datetime.date(2003, 2, 2), 'Shipped', None, 121)
(10104, datetime.date(2003, 1, 31), datetime.date(2003, 2, 9), datetime.date(2003, 2, 1), 'Shipped', None, 141)
(10105, datetime.date(2003, 2, 11), datetime.date(2003, 2, 21), datetime.date(2003, 2, 12), 'Shipped', None, 145)
(10106, datetime.date(2003, 2, 17), datetime.date(2003, 2, 24), datetime.date(2003, 2, 21), 'Shipped', None, 278)
(10107, datetime.date(2003, 2, 24), datetime.date(2003, 3, 3), datetime.date(2003, 2, 26), 'Shipped', 'Difficult to negotiate with customer. We need more marketing materials', 131)
(10108, datetime.date(2003, 3, 3), datetime.date(2003, 3, 12), datetime.date(2003, 3, 8), 'Shipped', None, 385)
(10109, datetime.date(2003, 3, 10), datetime.date(2003, 3, 19), datetime.date(2003, 3, 11), 'Shipped', 'Customer requested that FedEx Ground is used for this shipping', 486)
(10110, datetime.date(2003, 3, 18), datetime.date(2003, 3, 24), datetime.date(2003, 3, 20), 'Shipped', None, 187)
(10111, datetime.date(2003, 3, 25), datetime.date(2003, 3, 31), datetime.date(2003, 3, 30), 'Shipped', None, 129)
(10112, datetime.date(2003, 3, 24), datetime.date(2003, 4, 3), datetime.date(2003, 3, 29), 'Shipped', 'Customer requested that ad materials (such as posters, pamphlets) be included in the shippment', 144)
(10113, datetime.date(2003, 3, 26), datetime.date(2003, 4, 2), datetime.date(2003, 3, 27), 'Shipped', None, 124)
(10114, datetime.date(2003, 4, 1), datetime.date(2003, 4, 7), datetime.date(2003, 4, 2), 'Shipped', None, 172)
(10115, datetime.date(2003, 4, 4), datetime.date(2003, 4, 12), datetime.date(2003, 4, 7), 'Shipped', None, 424)
(10116, datetime.date(2003, 4, 11), datetime.date(2003, 4, 19), datetime.date(2003, 4, 13), 'Shipped', None, 381)
(10117, datetime.date(2003, 4, 16), datetime.date(2003, 4, 24), datetime.date(2003, 4, 17), 'Shipped', None, 148)
(10118, datetime.date(2003, 4, 21), datetime.date(2003, 4, 29), datetime.date(2003, 4, 26), 'Shipped', 'Customer has worked with some of our vendors in the past and is aware of their MSRP', 216)
(10119, datetime.date(2003, 4, 28), datetime.date(2003, 5, 5), datetime.date(2003, 5, 2), 'Shipped', None, 382)
(10120, datetime.date(2003, 4, 29), datetime.date(2003, 5, 8), datetime.date(2003, 5, 1), 'Shipped', None, 114)
(10121, datetime.date(2003, 5, 7), datetime.date(2003, 5, 13), datetime.date(2003, 5, 13), 'Shipped', None, 353)
(10122, datetime.date(2003, 5, 8), datetime.date(2003, 5, 16), datetime.date(2003, 5, 13), 'Shipped', None, 350)
(10123, datetime.date(2003, 5, 20), datetime.date(2003, 5, 29), datetime.date(2003, 5, 22), 'Shipped', None, 103)
(10124, datetime.date(2003, 5, 21), datetime.date(2003, 5, 29), datetime.date(2003, 5, 25), 'Shipped', 'Customer very concerned about the exact color of the models. There is high risk that he may dispute the order because there is a slight color mismatch', 112)
(10125, datetime.date(2003, 5, 21), datetime.date(2003, 5, 27), datetime.date(2003, 5, 24), 'Shipped', None, 114)
(10126, datetime.date(2003, 5, 28), datetime.date(2003, 6, 7), datetime.date(2003, 6, 2), 'Shipped', None, 458)
(10127, datetime.date(2003, 6, 3), datetime.date(2003, 6, 9), datetime.date(2003, 6, 6), 'Shipped', 'Customer requested special shippment. The instructions were passed along to the warehouse', 151)
(10128, datetime.date(2003, 6, 6), datetime.date(2003, 6, 12), datetime.date(2003, 6, 11), 'Shipped', None, 141)
(10129, datetime.date(2003, 6, 12), datetime.date(2003, 6, 18), datetime.date(2003, 6, 14), 'Shipped', None, 324)
(10130, datetime.date(2003, 6, 16), datetime.date(2003, 6, 24), datetime.date(2003, 6, 21), 'Shipped', None, 198)
(10131, datetime.date(2003, 6, 16), datetime.date(2003, 6, 25), datetime.date(2003, 6, 21), 'Shipped', None, 447)
(10132, datetime.date(2003, 6, 25), datetime.date(2003, 7, 1), datetime.date(2003, 6, 28), 'Shipped', None, 323)
(10133, datetime.date(2003, 6, 27), datetime.date(2003, 7, 4), datetime.date(2003, 7, 3), 'Shipped', None, 141)
(10134, datetime.date(2003, 7, 1), datetime.date(2003, 7, 10), datetime.date(2003, 7, 5), 'Shipped', None, 250)
(10135, datetime.date(2003, 7, 2), datetime.date(2003, 7, 12), datetime.date(2003, 7, 3), 'Shipped', None, 124)
(10136, datetime.date(2003, 7, 4), datetime.date(2003, 7, 14), datetime.date(2003, 7, 6), 'Shipped', 'Customer is interested in buying more Ferrari models', 242)
(10137, datetime.date(2003, 7, 10), datetime.date(2003, 7, 20), datetime.date(2003, 7, 14), 'Shipped', None, 353)
(10138, datetime.date(2003, 7, 7), datetime.date(2003, 7, 16), datetime.date(2003, 7, 13), 'Shipped', None, 496)
(10139, datetime.date(2003, 7, 16), datetime.date(2003, 7, 23), datetime.date(2003, 7, 21), 'Shipped', None, 282)
(10140, datetime.date(2003, 7, 24), datetime.date(2003, 8, 2), datetime.date(2003, 7, 30), 'Shipped', None, 161)
(10141, datetime.date(2003, 8, 1), datetime.date(2003, 8, 9), datetime.date(2003, 8, 4), 'Shipped', None, 334)
(10142, datetime.date(2003, 8, 8), datetime.date(2003, 8, 16), datetime.date(2003, 8, 13), 'Shipped', None, 124)
(10143, datetime.date(2003, 8, 10), datetime.date(2003, 8, 18), datetime.date(2003, 8, 12), 'Shipped', 'Can we deliver the new Ford Mustang models by end-of-quarter?', 320)
(10144, datetime.date(2003, 8, 13), datetime.date(2003, 8, 21), datetime.date(2003, 8, 14), 'Shipped', None, 381)
(10145, datetime.date(2003, 8, 25), datetime.date(2003, 9, 2), datetime.date(2003, 8, 31), 'Shipped', None, 205)
(10146, datetime.date(2003, 9, 3), datetime.date(2003, 9, 13), datetime.date(2003, 9, 6), 'Shipped', None, 447)
(10147, datetime.date(2003, 9, 5), datetime.date(2003, 9, 12), datetime.date(2003, 9, 9), 'Shipped', None, 379)
(10148, datetime.date(2003, 9, 11), datetime.date(2003, 9, 21), datetime.date(2003, 9, 15), 'Shipped', 'They want to reevaluate their terms agreement with Finance.', 276)
(10149, datetime.date(2003, 9, 12), datetime.date(2003, 9, 18), datetime.date(2003, 9, 17), 'Shipped', None, 487)
(10150, datetime.date(2003, 9, 19), datetime.date(2003, 9, 27), datetime.date(2003, 9, 21), 'Shipped', 'They want to reevaluate their terms agreement with Finance.', 148)
(10151, datetime.date(2003, 9, 21), datetime.date(2003, 9, 30), datetime.date(2003, 9, 24), 'Shipped', None, 311)
(10152, datetime.date(2003, 9, 25), datetime.date(2003, 10, 3), datetime.date(2003, 10, 1), 'Shipped', None, 333)
(10153, datetime.date(2003, 9, 28), datetime.date(2003, 10, 5), datetime.date(2003, 10, 3), 'Shipped', None, 141)
(10154, datetime.date(2003, 10, 2), datetime.date(2003, 10, 12), datetime.date(2003, 10, 8), 'Shipped', None, 219)
(10155, datetime.date(2003, 10, 6), datetime.date(2003, 10, 13), datetime.date(2003, 10, 7), 'Shipped', None, 186)
(10156, datetime.date(2003, 10, 8), datetime.date(2003, 10, 17), datetime.date(2003, 10, 11), 'Shipped', None, 141)
(10157, datetime.date(2003, 10, 9), datetime.date(2003, 10, 15), datetime.date(2003, 10, 14), 'Shipped', None, 473)
(10158, datetime.date(2003, 10, 10), datetime.date(2003, 10, 18), datetime.date(2003, 10, 15), 'Shipped', None, 121)
(10159, datetime.date(2003, 10, 10), datetime.date(2003, 10, 19), datetime.date(2003, 10, 16), 'Shipped', None, 321)
(10160, datetime.date(2003, 10, 11), datetime.date(2003, 10, 17), datetime.date(2003, 10, 17), 'Shipped', None, 347)
(10161, datetime.date(2003, 10, 17), datetime.date(2003, 10, 25), datetime.date(2003, 10, 20), 'Shipped', None, 227)
(10162, datetime.date(2003, 10, 18), datetime.date(2003, 10, 26), datetime.date(2003, 10, 19), 'Shipped', None, 321)
(10163, datetime.date(2003, 10, 20), datetime.date(2003, 10, 27), datetime.date(2003, 10, 24), 'Shipped', None, 424)
(10164, datetime.date(2003, 10, 21), datetime.date(2003, 10, 30), datetime.date(2003, 10, 23), 'Resolved', "This order was disputed, but resolved on 11/1/2003; Customer doesn't like the colors and precision of the models.", 452)
(10165, datetime.date(2003, 10, 22), datetime.date(2003, 10, 31), datetime.date(2003, 12, 26), 'Shipped', "This order was on hold because customers's credit limit had been exceeded. Order will ship when payment is received", 148)
(10166, datetime.date(2003, 10, 21), datetime.date(2003, 10, 30), datetime.date(2003, 10, 27), 'Shipped', None, 462)
(10167, datetime.date(2003, 10, 23), datetime.date(2003, 10, 30), None, 'Cancelled', "Customer called to cancel. The warehouse was notified in time and the order didn't ship. They have a new VP of Sales and are shifting their sales model. Our VP of Sales should contact them.", 448)
(10168, datetime.date(2003, 10, 28), datetime.date(2003, 11, 3), datetime.date(2003, 11, 1), 'Shipped', None, 161)
(10169, datetime.date(2003, 11, 4), datetime.date(2003, 11, 14), datetime.date(2003, 11, 9), 'Shipped', None, 276)
(10170, datetime.date(2003, 11, 4), datetime.date(2003, 11, 12), datetime.date(2003, 11, 7), 'Shipped', None, 452)
(10171, datetime.date(2003, 11, 5), datetime.date(2003, 11, 13), datetime.date(2003, 11, 7), 'Shipped', None, 233)
(10172, datetime.date(2003, 11, 5), datetime.date(2003, 11, 14), datetime.date(2003, 11, 11), 'Shipped', None, 175)
(10173, datetime.date(2003, 11, 5), datetime.date(2003, 11, 15), datetime.date(2003, 11, 9), 'Shipped', 'Cautious optimism. We have happy customers here, if we can keep them well stocked.  I need all the information I can get on the planned shippments of Porches', 278)
(10174, datetime.date(2003, 11, 6), datetime.date(2003, 11, 15), datetime.date(2003, 11, 10), 'Shipped', None, 333)
(10175, datetime.date(2003, 11, 6), datetime.date(2003, 11, 14), datetime.date(2003, 11, 9), 'Shipped', None, 324)
(10176, datetime.date(2003, 11, 6), datetime.date(2003, 11, 15), datetime.date(2003, 11, 12), 'Shipped', None, 386)
(10177, datetime.date(2003, 11, 7), datetime.date(2003, 11, 17), datetime.date(2003, 11, 12), 'Shipped', None, 344)
(10178, datetime.date(2003, 11, 8), datetime.date(2003, 11, 16), datetime.date(2003, 11, 10), 'Shipped', 'Custom shipping instructions sent to warehouse', 242)
(10179, datetime.date(2003, 11, 11), datetime.date(2003, 11, 17), datetime.date(2003, 11, 13), 'Cancelled', 'Customer cancelled due to urgent budgeting issues. Must be cautious when dealing with them in the future. Since order shipped already we must discuss who would cover the shipping charges.', 496)
(10180, datetime.date(2003, 11, 11), datetime.date(2003, 11, 19), datetime.date(2003, 11, 14), 'Shipped', None, 171)
(10181, datetime.date(2003, 11, 12), datetime.date(2003, 11, 19), datetime.date(2003, 11, 15), 'Shipped', None, 167)
(10182, datetime.date(2003, 11, 12), datetime.date(2003, 11, 21), datetime.date(2003, 11, 18), 'Shipped', None, 124)
(10183, datetime.date(2003, 11, 13), datetime.date(2003, 11, 22), datetime.date(2003, 11, 15), 'Shipped', 'We need to keep in close contact with their Marketing VP. He is the decision maker for all their purchases.', 339)
(10184, datetime.date(2003, 11, 14), datetime.date(2003, 11, 22), datetime.date(2003, 11, 20), 'Shipped', None, 484)
(10185, datetime.date(2003, 11, 14), datetime.date(2003, 11, 21), datetime.date(2003, 11, 20), 'Shipped', None, 320)
(10186, datetime.date(2003, 11, 14), datetime.date(2003, 11, 20), datetime.date(2003, 11, 18), 'Shipped', 'They want to reevaluate their terms agreement with the VP of Sales', 489)
(10187, datetime.date(2003, 11, 15), datetime.date(2003, 11, 24), datetime.date(2003, 11, 16), 'Shipped', None, 211)
(10188, datetime.date(2003, 11, 18), datetime.date(2003, 11, 26), datetime.date(2003, 11, 24), 'Shipped', None, 167)
(10189, datetime.date(2003, 11, 18), datetime.date(2003, 11, 25), datetime.date(2003, 11, 24), 'Shipped', 'They want to reevaluate their terms agreement with Finance.', 205)
(10190, datetime.date(2003, 11, 19), datetime.date(2003, 11, 29), datetime.date(2003, 11, 20), 'Shipped', None, 141)
(10191, datetime.date(2003, 11, 20), datetime.date(2003, 11, 30), datetime.date(2003, 11, 24), 'Shipped', 'We must be cautions with this customer. Their VP of Sales resigned. Company may be heading down.', 259)
(10192, datetime.date(2003, 11, 20), datetime.date(2003, 11, 29), datetime.date(2003, 11, 25), 'Shipped', None, 363)
(10193, datetime.date(2003, 11, 21), datetime.date(2003, 11, 28), datetime.date(2003, 11, 27), 'Shipped', None, 471)
(10194, datetime.date(2003, 11, 25), datetime.date(2003, 12, 2), datetime.date(2003, 11, 26), 'Shipped', None, 146)
(10195, datetime.date(2003, 11, 25), datetime.date(2003, 12, 1), datetime.date(2003, 11, 28), 'Shipped', None, 319)
(10196, datetime.date(2003, 11, 26), datetime.date(2003, 12, 3), datetime.date(2003, 12, 1), 'Shipped', None, 455)
(10197, datetime.date(2003, 11, 26), datetime.date(2003, 12, 2), datetime.date(2003, 12, 1), 'Shipped', 'Customer inquired about remote controlled models and gold models.', 216)
(10198, datetime.date(2003, 11, 27), datetime.date(2003, 12, 6), datetime.date(2003, 12, 3), 'Shipped', None, 385)
(10199, datetime.date(2003, 12, 1), datetime.date(2003, 12, 10), datetime.date(2003, 12, 6), 'Shipped', None, 475)
(10200, datetime.date(2003, 12, 1), datetime.date(2003, 12, 9), datetime.date(2003, 12, 6), 'Shipped', None, 211)
(10201, datetime.date(2003, 12, 1), datetime.date(2003, 12, 11), datetime.date(2003, 12, 2), 'Shipped', None, 129)
(10202, datetime.date(2003, 12, 2), datetime.date(2003, 12, 9), datetime.date(2003, 12, 6), 'Shipped', None, 357)
(10203, datetime.date(2003, 12, 2), datetime.date(2003, 12, 11), datetime.date(2003, 12, 7), 'Shipped', None, 141)
(10204, datetime.date(2003, 12, 2), datetime.date(2003, 12, 10), datetime.date(2003, 12, 4), 'Shipped', None, 151)
(10205, datetime.date(2003, 12, 3), datetime.date(2003, 12, 9), datetime.date(2003, 12, 7), 'Shipped', ' I need all the information I can get on our competitors.', 141)
(10206, datetime.date(2003, 12, 5), datetime.date(2003, 12, 13), datetime.date(2003, 12, 8), 'Shipped', 'Can we renegotiate this one?', 202)
(10207, datetime.date(2003, 12, 9), datetime.date(2003, 12, 17), datetime.date(2003, 12, 11), 'Shipped', 'Check on availability.', 495)
(10208, datetime.date(2004, 1, 2), datetime.date(2004, 1, 11), datetime.date(2004, 1, 4), 'Shipped', None, 146)
(10209, datetime.date(2004, 1, 9), datetime.date(2004, 1, 15), datetime.date(2004, 1, 12), 'Shipped', None, 347)
(10210, datetime.date(2004, 1, 12), datetime.date(2004, 1, 22), datetime.date(2004, 1, 20), 'Shipped', None, 177)
(10211, datetime.date(2004, 1, 15), datetime.date(2004, 1, 25), datetime.date(2004, 1, 18), 'Shipped', None, 406)
(10212, datetime.date(2004, 1, 16), datetime.date(2004, 1, 24), datetime.date(2004, 1, 18), 'Shipped', None, 141)
(10213, datetime.date(2004, 1, 22), datetime.date(2004, 1, 28), datetime.date(2004, 1, 27), 'Shipped', 'Difficult to negotiate with customer. We need more marketing materials', 489)
(10214, datetime.date(2004, 1, 26), datetime.date(2004, 2, 4), datetime.date(2004, 1, 29), 'Shipped', None, 458)
(10215, datetime.date(2004, 1, 29), datetime.date(2004, 2, 8), datetime.date(2004, 2, 1), 'Shipped', 'Customer requested that FedEx Ground is used for this shipping', 475)
(10216, datetime.date(2004, 2, 2), datetime.date(2004, 2, 10), datetime.date(2004, 2, 4), 'Shipped', None, 256)
(10217, datetime.date(2004, 2, 4), datetime.date(2004, 2, 14), datetime.date(2004, 2, 6), 'Shipped', None, 166)
(10218, datetime.date(2004, 2, 9), datetime.date(2004, 2, 16), datetime.date(2004, 2, 11), 'Shipped', 'Customer requested that ad materials (such as posters, pamphlets) be included in the shippment', 473)
(10219, datetime.date(2004, 2, 10), datetime.date(2004, 2, 17), datetime.date(2004, 2, 12), 'Shipped', None, 487)
(10220, datetime.date(2004, 2, 12), datetime.date(2004, 2, 19), datetime.date(2004, 2, 16), 'Shipped', None, 189)
(10221, datetime.date(2004, 2, 18), datetime.date(2004, 2, 26), datetime.date(2004, 2, 19), 'Shipped', None, 314)
(10222, datetime.date(2004, 2, 19), datetime.date(2004, 2, 27), datetime.date(2004, 2, 20), 'Shipped', None, 239)
(10223, datetime.date(2004, 2, 20), datetime.date(2004, 2, 29), datetime.date(2004, 2, 24), 'Shipped', None, 114)
(10224, datetime.date(2004, 2, 21), datetime.date(2004, 3, 2), datetime.date(2004, 2, 26), 'Shipped', 'Customer has worked with some of our vendors in the past and is aware of their MSRP', 171)
(10225, datetime.date(2004, 2, 22), datetime.date(2004, 3, 1), datetime.date(2004, 2, 24), 'Shipped', None, 298)
(10226, datetime.date(2004, 2, 26), datetime.date(2004, 3, 6), datetime.date(2004, 3, 2), 'Shipped', None, 239)
(10227, datetime.date(2004, 3, 2), datetime.date(2004, 3, 12), datetime.date(2004, 3, 8), 'Shipped', None, 146)
(10228, datetime.date(2004, 3, 10), datetime.date(2004, 3, 18), datetime.date(2004, 3, 13), 'Shipped', None, 173)
(10229, datetime.date(2004, 3, 11), datetime.date(2004, 3, 20), datetime.date(2004, 3, 12), 'Shipped', None, 124)
(10230, datetime.date(2004, 3, 15), datetime.date(2004, 3, 24), datetime.date(2004, 3, 20), 'Shipped', 'Customer very concerned about the exact color of the models. There is high risk that he may dispute the order because there is a slight color mismatch', 128)
(10231, datetime.date(2004, 3, 19), datetime.date(2004, 3, 26), datetime.date(2004, 3, 25), 'Shipped', None, 344)
(10232, datetime.date(2004, 3, 20), datetime.date(2004, 3, 30), datetime.date(2004, 3, 25), 'Shipped', None, 240)
(10233, datetime.date(2004, 3, 29), datetime.date(2004, 4, 4), datetime.date(2004, 4, 2), 'Shipped', 'Customer requested special shippment. The instructions were passed along to the warehouse', 328)
(10234, datetime.date(2004, 3, 30), datetime.date(2004, 4, 5), datetime.date(2004, 4, 2), 'Shipped', None, 412)
(10235, datetime.date(2004, 4, 2), datetime.date(2004, 4, 12), datetime.date(2004, 4, 6), 'Shipped', None, 260)
(10236, datetime.date(2004, 4, 3), datetime.date(2004, 4, 11), datetime.date(2004, 4, 8), 'Shipped', None, 486)
(10237, datetime.date(2004, 4, 5), datetime.date(2004, 4, 12), datetime.date(2004, 4, 10), 'Shipped', None, 181)
(10238, datetime.date(2004, 4, 9), datetime.date(2004, 4, 16), datetime.date(2004, 4, 10), 'Shipped', None, 145)
(10239, datetime.date(2004, 4, 12), datetime.date(2004, 4, 21), datetime.date(2004, 4, 17), 'Shipped', None, 311)
(10240, datetime.date(2004, 4, 13), datetime.date(2004, 4, 20), datetime.date(2004, 4, 20), 'Shipped', None, 177)
(10241, datetime.date(2004, 4, 13), datetime.date(2004, 4, 20), datetime.date(2004, 4, 19), 'Shipped', None, 209)
(10242, datetime.date(2004, 4, 20), datetime.date(2004, 4, 28), datetime.date(2004, 4, 25), 'Shipped', 'Customer is interested in buying more Ferrari models', 456)
(10243, datetime.date(2004, 4, 26), datetime.date(2004, 5, 3), datetime.date(2004, 4, 28), 'Shipped', None, 495)
(10244, datetime.date(2004, 4, 29), datetime.date(2004, 5, 9), datetime.date(2004, 5, 4), 'Shipped', None, 141)
(10245, datetime.date(2004, 5, 4), datetime.date(2004, 5, 12), datetime.date(2004, 5, 9), 'Shipped', None, 455)
(10246, datetime.date(2004, 5, 5), datetime.date(2004, 5, 13), datetime.date(2004, 5, 6), 'Shipped', None, 141)
(10247, datetime.date(2004, 5, 5), datetime.date(2004, 5, 11), datetime.date(2004, 5, 8), 'Shipped', None, 334)
(10248, datetime.date(2004, 5, 7), datetime.date(2004, 5, 14), None, 'Cancelled', 'Order was mistakenly placed. The warehouse noticed the lack of documentation.', 131)
(10249, datetime.date(2004, 5, 8), datetime.date(2004, 5, 17), datetime.date(2004, 5, 11), 'Shipped', 'Can we deliver the new Ford Mustang models by end-of-quarter?', 173)
(10250, datetime.date(2004, 5, 11), datetime.date(2004, 5, 19), datetime.date(2004, 5, 15), 'Shipped', None, 450)

- Note: We use the fetchall() method, which fetches all rows from the last executed statement.

# Selecting Columns
To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):

In [33]:
# Select only the name and address columns:


mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers1")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

# Using the fetchone() Method
If you are only interested in one row, you can use the fetchone() method.

The fetchone() method will return the first row of the result:

In [29]:
# Fetch only one row:

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers1")

myresult = mycursor.fetchone()

print(myresult)

('John', 'Highway 21', 1)

# Select With a Filter
When selecting records from a table, you can filter the selection by using the "WHERE" statement:

In [34]:
# Select record(s) where the address is "Park Lane 38": result:


mycursor = mydb.cursor()

sql = "SELECT * FROM customers1 WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Ben', 'Park Lane 38', 11)

# Wildcard Characters
You can also select the records that starts, includes, or ends with a given letter or phrase.

Use the %  to represent wildcard characters:

In [36]:
# Select records where the address contains the word "way":


mycursor = mydb.cursor()

sql = "SELECT * FROM customers1 WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)

# Prevent SQL Injection
When query values are provided by the user, you should escape the values.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module has methods to escape query values:

In [38]:
# Escape query values by using the placholder %s method:


mycursor = mydb.cursor()

sql = "SELECT * FROM customers1 WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Vicky', 'Yellow Garden 2', 10)

# Sort the Result
Use the ORDER BY statement to sort the result in ascending or descending order.

The ORDER BY keyword sorts the result ascending by default. To sort the result in descending order, use the DESC keyword.

In [39]:
# Sort the result alphabetically by name: result:


mycursor = mydb.cursor()

sql = "SELECT * FROM customers1 ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Amy', 'Apple st 652', 3)
('Ben', 'Park Lane 38', 11)
('Betty', 'Green Grass 1', 7)
('Chuck', 'Main Road 989', 13)
('Hannah', 'Mountain 21', 4)
('John', 'Highway 21', 1)
('Michael', 'Valley 345', 5)
('Michelle', 'Blue Village', 15)
('Peter', 'Lowstreet 4', 2)
('Richard', 'Sky st 331', 8)
('Sandy', 'Ocean blvd 2', 6)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Viola', 'Sideway 1633', 14)
('William', 'Central st 954', 12)

# ORDER BY DESC
Use the DESC keyword to sort the result in a descending order.

In [22]:
# Sort the result reverse alphabetically by name:


mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('William', 'Central st 954', 12)
('Viola', 'Sideway 1633', 14)
('Vicky', 'Yellow Garden 2', 10)
('Susan', 'One way 98', 9)
('Sandy', 'Ocean blvd 2', 6)
('Richard', 'Sky st 331', 8)
('Peter', 'Lowstreet 4', 2)
('Michelle', 'Blue Village', 15)
('Michael', 'Valley 345', 5)
('John', 'Highway 21', 1)
('Hannah', 'Mountain 21', 4)
('Chuck', 'Main Road 989', 13)
('Betty', 'Green Grass 1', 7)
('Ben', 'Park Lane 38', 11)
('Amy', 'Apple st 652', 3)

# Delete Record
You can delete records from an existing table by using the "DELETE FROM" statement:

In [23]:
# Delete any record where the address is "Mountain 21"



mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

> Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

> Notice the WHERE clause in the DELETE syntax: The WHERE clause specifies which record(s) that should be deleted. If you omit the WHERE clause, all records will be deleted!

# Prevent SQL Injection
It is considered a good practice to escape the values of any query, also in delete statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the delete statement:

In [25]:
# Escape values by using the placeholder %s method:


mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

# Delete a Table
You can delete an existing table by using the "DROP TABLE" statement:

In [6]:
# Delete the table "customers":

mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)

# Drop Only if Exist
If the the table you want to delete is already deleted, or for any other reason does not exist, you can use the IF EXISTS keyword to avoid getting an error.

In [7]:
# Delete the table "customers" if it exists:


mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

# Update Table
You can update existing records in a table by using the "UPDATE" statement:

In [17]:
# Overwrite the address column from "Valley 345" to "Canyoun 123":


mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

> Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

> Notice the WHERE clause in the UPDATE syntax: The WHERE clause specifies which record or records that should be updated. If you omit the WHERE clause, all records will be updated!

# Limit the Result
You can limit the number of records returned from the query, by using the "LIMIT" statement:

In [ ]:
# Select the 5 first records in the "customers" table:



mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

# Start From Another Position
If you want to return five records, starting from the third record, you can use the "OFFSET" keyword:

In [40]:
# Start from position 3, and return 5 records:



mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers1 LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)

# Join Two or More Tables
You can combine rows from two or more tables, based on a related column between them, by using a JOIN statement.

Consider you have a "users" table and a "products" table:

USERS <br>

{ id: 1, name: 'John', fav: 154}, <br>
{ id: 2, name: 'Peter', fav: 154}, <br>
{ id: 3, name: 'Amy', fav: 155}, <br>
{ id: 4, name: 'Hannah', fav:}, <br>
{ id: 5, name: 'Michael', fav:} <br>

PRODUCTS

{ id: 154, name: 'Chocolate Heaven' }, <br>
{ id: 155, name: 'Tasty Lemons' }, <br>
{ id: 156, name: 'Vanilla Dreams' } <br>

These two tables can be combined by using users' fav field and products' id field.

In [ ]:
# Join users and products to see the name of the users favorite product:

mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

> Note: You can use JOIN instead of INNER JOIN. They will both give you the same result.

# LEFT JOIN
In the example above, Hannah, and Michael were excluded from the result, that is because INNER JOIN only shows the records where there is a match.

If you want to show all users, even if they do not have a favorite product, use the LEFT JOIN statement:

In [ ]:
# Select all users and their favorite product:



mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

# RIGHT JOIN
If you want to return all products, and the users who have them as their favorite, even if no user have them as their favorite, use the RIGHT JOIN statement:

In [ ]:
# Select all products, and the user(s) who have them as their favorite:
    
    
mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)