
# <font color='red'> SETS AND TUPLES </font>

# <font color='blue'> 1. PRINT HELLO FOLLOWED BY THE NAMES AND THE AGE IN THE TUPLE

In [1]:
my_tuple = ("chanel", 26)

In [2]:
print("Hello {} {}".format(my_tuple[0], my_tuple[1]))

Hello chanel 26

# <font color='blue'> 2. DEFINE A TUPLE WITH 6 OF YOUR FAVOURITE FRIENDS, PRINT (1) ALL THE TUPLE, (2) LAST ELEMENT, (2) FIRST TWO ELEMENTS

In [3]:
a = ("a","n","d","e1","e")

In [4]:
a

('a', 'n', 'd', 'e1', 'e')

In [5]:
a[-1]

'e'

In [6]:
a[:2]

('a', 'n')

#  <font color='blue'> 3. DEFINE A TUPLE WITH YOUR FIRST NAME, LAST NAME AND AGE. FIND THE LENGTH AND THE TYPE AS WELL.

In [7]:
a = ("dev","sup", 21)

In [8]:
len(a)

3

In [9]:
type(a)

tuple

# <font color='blue'> 4. PRINT THE NUMBER "40", PRINT THE WORD "WORLD", PRINT THE NUMBER 25, AND PRINT THE ENTIRE LIST AND TUPLE LISTED BELOW

In [11]:
a = ("hello", [87, 40, 60], "world", (10, 25, 30))

In [12]:
a[1][1]

40

In [13]:
a[2]

'world'

In [14]:
a[-1][1]

25

# <font color='blue'> 5.EXECUTE THE FOLLOWING COMMANDS AND EXPLAIN WHAT WENT WRONG AND WHAT WENT RIGHT!

In [15]:
my_tuple = (40, 3, 2, [10, 4])

my_tuple[2] = 10

TypeError: 'tuple' object does not support item assignment

In [16]:
my_tuple[3][0] = 9
print(my_tuple)

(40, 3, 2, [9, 4])

# <font color='blue'> 6.EXECUTE THE FOLLOWING COMMANDS AND EXPLAIN WHAT WENT WRONG AND WHAT WENT RIGHT!

In [17]:
my_tuple = (40, 3, 2, [10, 4])

del my_tuple[3]

TypeError: 'tuple' object doesn't support item deletion

In [18]:
del my_tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

# <font color='blue'> 7. CHECK IF THE NAME "PYTHON" EXISTS IN A TUPLE

In [21]:
a = ('math','science','science','python','english')

In [22]:
"python" in a

True

# <font color='blue'> 8. REMOVE THE DUPLICATES FROM THE FOLLOWING LIST   </font>

In [25]:
a = ["2", 50, "2", 50, 4, 6, 9, 9]

b = list(set(a))
b

[4, 6, '2', 9, 50]

#  <font color='blue'> 9. ADD YOUR NAME TO THE FOLLOWING SET AND CONVERT INTO A LIST

In [26]:
a = {"sara", "mike", "jon", "jon", "mike"}

In [27]:
a.add("dev")

In [28]:
a

{'dev', 'jon', 'mike', 'sara'}

In [31]:
b =  list(a)
b

['mike', 'dev', 'sara', 'jon']

#  <font color='blue'> 10. RUN THIS CODE AND EXPLAIN WHAT IT DOES (WE WILL COVER IF CONDITIONS NEXT)

In [ ]:
my_grocery = {"banana", "cherry"}

if ("orange" in my_grocery):
    print("Yes, I have got orange in my grocery list!")

In [ ]:
my_grocery = {"orange", "banana", "cherry"}

if ("orange" in my_grocery):
    print("Yes, I have got orange in my grocery list!")