# Float formating follows {value:width.precision f}

In [1]:
result = 100/7

In [2]:
result

14.285714285714286

In [3]:
print("the value is {}".format(result))

the value is 14.285714285714286

In [7]:
print("the value is {r:8.3}".format(r=result))

the value is     14.3

In [8]:
print("the value is {r:8.3f}".format(r=result))

the value is   14.286

# F string method

In [9]:
name = 'devdatta'

In [10]:
print(f'Hello my name is {name}')

Hello my name is devdatta

In [12]:
name = 'dev'
age = 24

print(f'hello my name is {name} and my age is {age}')

hello my name is dev and my age is 24

# append method allows us to add new element to the end of the list

In [13]:
a = ['a','b','c','d','e']

In [14]:
a.pop()

'e'

In [15]:
b = a.pop()
b

'd'

pop removes the item form list based on index location if we do not provide the index then it will take the -1 as default index

In [16]:
a.pop(1)

'b'

In [17]:
a

['a', 'c']

In [18]:
a = {1:'dev',
    2:'jan'}

In [19]:
a[1]

'dev'

In [20]:
a.keys()

dict_keys([1, 2])

dict canot be sorted and its an unordered colloection and it can be nested structure

In [21]:
t = ('a','b','v','d','e','g','a')

In [24]:
t.count('a') # a comes two times in this tupple

2

In [27]:
t.index('b')

1

In [28]:
a = set()

In [29]:
a.add(1)

In [30]:
a

{1}

In [31]:
a.add(2)

In [32]:
a

{1, 2}

In [33]:
a.add(2)
a

{1, 2}

# jupyter cell magic command to write a text file inside the jupyter notebook

In [36]:
%%writefile text1.txt

hello this is simple text file for testing 
this is the first line
this the third line

Overwriting text1.txt

In [37]:
mf = open('text1.txt')

In [38]:
mf.read()

'\nhello this is simple text file for testing \nthis is the first line\nthis the third line\n'

In [39]:
mf.read()

''

bcoz the cursor is at the end location so we have to reset the cursor location at start position

In [40]:
mf.seek(0)

0

In [41]:
mf.read()

'\nhello this is simple text file for testing \nthis is the first line\nthis the third line\n'

In [42]:
mf.read()

''

In [43]:
mf.seek(0)

0

In [44]:
mf.read()

'\nhello this is simple text file for testing \nthis is the first line\nthis the third line\n'

In [45]:
mf.readlines()

[]

In [46]:
mf.seek(0)

0

In [47]:
mf.readlines()

['\n',
 'hello this is simple text file for testing \n',
 'this is the first line\n',
 'this the third line\n']

In [48]:
pwd

'C:\\Users\\LENOVO\\Desktop\\Dev_Python Programming\\extra'

but for mac we have to use / this

In [49]:
mf.close()

if we open the file manually then we have to close it manually other wise it will show the erros that the is still open

so to avoid this error we can also use the with statement

In [52]:
with open('text1.txt') as myfile:     # now i dont need to close this file manually
    a=myfile.read()

In [53]:
a

'\nhello this is simple text file for testing \nthis is the first line\nthis the third line\n'

---

In [56]:
a = [0]*10

In [57]:
a

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

---

In [2]:
for _ in 'devdatta supnekar':
    print("cool")

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

# tupple unpacking

In [6]:
mylist = [(1,2),(3,7),(7,2),(5,6),(9,8)]

In [7]:
for i in mylist:
    print(i)

(1, 2)
(3, 7)
(7, 2)
(5, 6)
(9, 8)

In [8]:
for (i,j) in mylist:
    print(i)
    print(j)

1
2
3
7
7
2
5
6
9
8

In [9]:
for i,j in mylist:
    print(i)

1
3
7
5
9

In [10]:
mylist2 = [(1,2,3,4),(6,7,8,9),(4,3,2,5)]

In [11]:
for i,j,k,l in mylist2:
    print(i)
    print(j)
    print(k)
    print(l)

1
2
3
4
6
7
8
9
4
3
2
5

In [12]:
d = {'k1':'v1', 'k2':'v2','k3':'v3'}

In [14]:
for i in d:
    print(i) #by default dict will return only keys

k1
k2
k3

In [15]:
for key,val in d.items():
    print(key)
    print(val)

k1
v1
k2
v2
k3
v3

# we can also use else with while

In [18]:
a = 0

while a<7:
    print("hello the value of a is ")
    print(a)
    a=a+1
else:
    print('a is not equal to ')

hello the value of a is
0
hello the value of a is
1
hello the value of a is
2
hello the value of a is
3
hello the value of a is
4
hello the value of a is
5
hello the value of a is
6
a is not equal to

---

eof means end of file

In [20]:
for i in mylist:
    pass

---

In [21]:

index_count = 0
word  = "devdatta"


for i in word:
    print(word[index_count])
    index_count+=1

d
e
v
d
a
t
t
a

In [22]:
for i in enumerate(word):
    print(i)

(0, 'd')
(1, 'e')
(2, 'v')
(3, 'd')
(4, 'a')
(5, 't')
(6, 't')
(7, 'a')

In [23]:
for i , j in enumerate(word):
    print(f'the word {j} is at index {i}')

the word d is at index 0
the word e is at index 1
the word v is at index 2
the word d is at index 3
the word a is at index 4
the word t is at index 5
the word t is at index 6
the word a is at index 7

---

In [24]:
list1 = ['a','d','r']
list2 = [1,2,3]
list3 =  [100,200,400]


for i in zip(list1, list2, list3):
    print(i)

In [28]:
list1 = ['a','d','r']
list2 = [1,2,3,5,6,7]
list3 =  [100,200,400]


for i,j,k in zip(list1, list2, list3): # zip function consider only shortest list
    print(i,j,k)

a 1 100
d 2 200
r 3 400

---

In [29]:
from random import shuffle


a = [1,2,3,4,5,6,7,8]

In [30]:
shuffle(a)

In [31]:
a

[6, 7, 5, 2, 3, 1, 8, 4]

In [32]:
b = shuffle(a)

In [34]:
b

In [35]:
type(b)

NoneType

---

# how to use if else in list comprehension

In [36]:
a = [1,2,3,4,5,7,8,9,10,11,12,34]

In [37]:
b = [ i if i%2==0 else 'odd'          for i in a                        ]

In [38]:
b

['odd', 2, 'odd', 4, 'odd', 'odd', 8, 'odd', 10, 'odd', 12, 34]

---

nested list

In [39]:
a = [1,2,3,4,5,6]
b = [100,200,300,400,500,600]
c = [8,6,5,3,2,1]

In [41]:
x = []

In [42]:
for i in a:
    for j in b:
        for k in c:
            x.append(i*j*k)
print(x)

[800, 600, 500, 300, 200, 100, 1600, 1200, 1000, 600, 400, 200, 2400, 1800, 1500, 900, 600, 300, 3200, 2400, 2000, 1200, 800, 400, 4000, 3000, 2500, 1500, 1000, 500, 4800, 3600, 3000, 1800, 1200, 600, 1600, 1200, 1000, 600, 400, 200, 3200, 2400, 2000, 1200, 800, 400, 4800, 3600, 3000, 1800, 1200, 600, 6400, 4800, 4000, 2400, 1600, 800, 8000, 6000, 5000, 3000, 2000, 1000, 9600, 7200, 6000, 3600, 2400, 1200, 2400, 1800, 1500, 900, 600, 300, 4800, 3600, 3000, 1800, 1200, 600, 7200, 5400, 4500, 2700, 1800, 900, 9600, 7200, 6000, 3600, 2400, 1200, 12000, 9000, 7500, 4500, 3000, 1500, 14400, 10800, 9000, 5400, 3600, 1800, 3200, 2400, 2000, 1200, 800, 400, 6400, 4800, 4000, 2400, 1600, 800, 9600, 7200, 6000, 3600, 2400, 1200, 12800, 9600, 8000, 4800, 3200, 1600, 16000, 12000, 10000, 6000, 4000, 2000, 19200, 14400, 12000, 7200, 4800, 2400, 4000, 3000, 2500, 1500, 1000, 500, 8000, 6000, 5000, 3000, 2000, 1000, 12000, 9000, 7500, 4500, 3000, 1500, 16000, 12000, 10000, 6000, 4000, 2000, 20000, 15000, 12500, 7500, 5000, 2500, 24000, 18000, 15000, 9000, 6000, 3000, 4800, 3600, 3000, 1800, 1200, 600, 9600, 7200, 6000, 3600, 2400, 1200, 14400, 10800, 9000, 5400, 3600, 1800, 19200, 14400, 12000, 7200, 4800, 2400, 24000, 18000, 15000, 9000, 6000, 3000, 28800, 21600, 18000, 10800, 7200, 3600]

In [43]:
y = [i*j*k for i in a for j in b for k in c]

In [44]:
y

[800,
 600,
 500,
 300,
 200,
 100,
 1600,
 1200,
 1000,
 600,
 400,
 200,
 2400,
 1800,
 1500,
 900,
 600,
 300,
 3200,
 2400,
 2000,
 1200,
 800,
 400,
 4000,
 3000,
 2500,
 1500,
 1000,
 500,
 4800,
 3600,
 3000,
 1800,
 1200,
 600,
 1600,
 1200,
 1000,
 600,
 400,
 200,
 3200,
 2400,
 2000,
 1200,
 800,
 400,
 4800,
 3600,
 3000,
 1800,
 1200,
 600,
 6400,
 4800,
 4000,
 2400,
 1600,
 800,
 8000,
 6000,
 5000,
 3000,
 2000,
 1000,
 9600,
 7200,
 6000,
 3600,
 2400,
 1200,
 2400,
 1800,
 1500,
 900,
 600,
 300,
 4800,
 3600,
 3000,
 1800,
 1200,
 600,
 7200,
 5400,
 4500,
 2700,
 1800,
 900,
 9600,
 7200,
 6000,
 3600,
 2400,
 1200,
 12000,
 9000,
 7500,
 4500,
 3000,
 1500,
 14400,
 10800,
 9000,
 5400,
 3600,
 1800,
 3200,
 2400,
 2000,
 1200,
 800,
 400,
 6400,
 4800,
 4000,
 2400,
 1600,
 800,
 9600,
 7200,
 6000,
 3600,
 2400,
 1200,
 12800,
 9600,
 8000,
 4800,
 3200,
 1600,
 16000,
 12000,
 10000,
 6000,
 4000,
 2000,
 19200,
 14400,
 12000,
 7200,
 4800,
 2400,
 4000,
 3000,
 2500,
 1500,
 1000,
 500,
 8000,
 6000,
 5000,
 3000,
 2000,
 1000,
 12000,
 9000,
 7500,
 4500,
 3000,
 1500,
 16000,
 12000,
 10000,
 6000,
 4000,
 2000,
 20000,
 15000,
 12500,
 7500,
 5000,
 2500,
 24000,
 18000,
 15000,
 9000,
 6000,
 3000,
 4800,
 3600,
 3000,
 1800,
 1200,
 600,
 9600,
 7200,
 6000,
 3600,
 2400,
 1200,
 14400,
 10800,
 9000,
 5400,
 3600,
 1800,
 19200,
 14400,
 12000,
 7200,
 4800,
 2400,
 24000,
 18000,
 15000,
 9000,
 6000,
 3000,
 28800,
 21600,
 18000,
 10800,
 7200,
 3600]

---

# the exact meaning of return keyword

In [45]:
def add(a,b):
    print(a+b)

In [46]:
add(7,8)

15

In [47]:
a = add(3,4)

7

In [48]:
a

In [49]:
type(a)

NoneType

In [50]:
def add(a,b):
    return (a+b)

In [51]:
a = add(7,4)

In [52]:
a

11

In [53]:
type(a)

int

In [56]:
a ='DEVDATTA'

n = a.lower()

In [57]:
n

'devdatta'

In [59]:
def vol(w):
    a = w[0].lower()
    if a == 'a' or a == 'e' or a == 'i' or a=='o' or a == 'u':
        return w+"ay"
    else:
        return w[1:]+w[0]+'ay'

In [60]:
vol('dev')

'evday'

In [61]:
vol('elephant')

'elephantay'

In [64]:
def vol(w):
    a = w[0].lower()
    if a in 'aeiou':
        d = w+"ay"
    else:
        d=  w[1:]+w[0]+'ay'
        
    return d

In [65]:
vol('abhijeet')

'abhijeetay'

---

# *args and *kwargs

In [66]:
def add(a,b,c=0,d=0):
    return sum((a,b,c,d))  * 0.5

In [67]:
add(3,4)

3.5

In [70]:
add(25,25,50,39)

69.5

In [71]:
add(23 ,34,32,44,55,33)

TypeError: add() takes from 2 to 4 positional arguments but 6 were given

In [78]:
def addf(*args):
    return sum(args)* 0.5

In [79]:
addf(34,45,5,64,5,6,3,2,34,55,5)

129.0

In [80]:
def addf(*args):
    for i in args:
        print(i)

In [81]:
addf(1,2,3,5,6,7,3,3,4,5,6,7,4)

1
2
3
5
6
7
3
3
4
5
6
7
4

args retrun the tuppel and kwargs retrun the dict

In [82]:
def fruit(**kwargs):
    print(kwargs)
    print('\n')
    if 'fruit' in kwargs:
        print('my fruit is {}'.format(kwargs['fruit']))

In [84]:
fruit(fruit='apple' , city='mumbai')

{'fruit': 'apple', 'city': 'mumbai'}


my fruit is apple

In [87]:
def testd(*args,**kwargs):
    print(args)
    print(kwargs)
    print(' i like {} {} '.format(args[3],kwargs['food']))

In [88]:
testd(1,2,3,4,5,food='chinese')

(1, 2, 3, 4, 5)
{'food': 'chinese'}
 i like 4 chinese