# PYTHON PROGRAMMING FUNDAMENTALS

# FOR LOOPS
- For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).

- An action can be executed once for each item in a list, tuple of the for loop.

In [1]:
my_list = [1, 2, 3,4,5,6,7,8,9]

In [2]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
a = list(range(1,10, 2))
a

[1, 3, 5, 7, 9]

In [7]:
a[0]

1

In [8]:
a[1]

3

In [14]:
for i in my_list:
    print(i)

1
2
3
4
5
6
7
8
9

In [19]:
for i in "devdatta":
    print(i)

d
e
v
d
a
t
t
a

In [17]:
i

'a'

In [21]:
for j in range(1, 100) :
    print(j)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [22]:
start = int(input('ENTER STARTING POINT : '))
stop = int(input('ENTER STOP POIN : '))


for i in range(start,stop+1):
    if i%2==0:
        print(i)

ENTER STARTING POINT : 1
ENTER STOP POIN : 10
2
4
6
8
10

In [24]:
for i in my_list:
    print(i)
    print('Hello World')
print("dev")

1
Hello World
dev
2
Hello World
dev
3
Hello World
dev
4
Hello World
dev
5
Hello World
dev
6
Hello World
dev
7
Hello World
dev
8
Hello World
dev
9
Hello World
dev

In [25]:
my_list = ['apple', 'blueberries', 'mango', 'watermelon', 'apricots']

In [26]:
my_list

['apple', 'blueberries', 'mango', 'watermelon', 'apricots']

In [27]:
for i in my_list:
    print(i)

apple
blueberries
mango
watermelon
apricots

In [28]:
for i in 'mangos':
    print(i)

m
a
n
g
o
s

In [29]:
numbers = [1, 2, 3, 4, 5, 6]

acc = 0

for i in numbers:
    acc = acc + i # 0 + 1 = 1 
                                        # 1 + 2 = 3
print(acc)

21

In [30]:
# Multiplication of all the elements in the list
numbers = [1, 2, 3, 4, 5, 6]

multiply_numbers = 1

for number in numbers:
    multiply_numbers = multiply_numbers * number  
                                        
print(multiply_numbers)

720

# Enumerate

In [31]:
a, b = (0, 'apple')

In [32]:
a

0

In [33]:
b

'apple'

In [ ]:
my_list = ['apple', 'blueberries', 'mango', 'watermelon', 'apricots']
# enumerate: Enumerate allows us to loop over something and have an automatic counter

In [34]:
for i in enumerate(my_list):
    print(i)

(0, 'apple')
(1, 'blueberries')
(2, 'mango')
(3, 'watermelon')
(4, 'apricots')

In [35]:
for i, j in enumerate(my_list):
    print(i, j)

0 apple
1 blueberries
2 mango
3 watermelon
4 apricots

In [37]:
a = list(range(1,10+1))
b = list(range(11, 21))
c = list(range(21,31))

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [40]:
for i,j,k in zip(a,b,c):
    print(i, j, k)
    print(i+j+k)

1 11 21
33
2 12 22
36
3 13 23
39
4 14 24
42
5 15 25
45
6 16 26
48
7 17 27
51
8 18 28
54
9 19 29
57
10 20 30
60

In [41]:
for i in 'mangos':
    print(i)

m
a
n
g
o
s

In [42]:
for i, j in enumerate('mangos'):
    print(i, j)

0 m
1 a
2 n
3 g
4 o
5 s