
# <font color='red'> DICTIONARIES AND BOOLEANS </font>

# <font color='blue'> 1. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE AGE AND PRINT OUT THE AGE OF SECOND NAME YOU CHOOSE</font>

In [2]:
a = {"abc":23,
    "bcd":34,
    "lkj":45}
a["bcd"]

34

# <font color='blue'> 2. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE HOURLY WAGE AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES </font>

In [30]:
a = {"k1":23,
    "k2":34,
    "k3":45}

In [31]:
(a["k1"] + a["k2"] + a["k3"])/3

34.0

In [32]:
a.values()

dict_values([23, 34, 45])

In [33]:
b = list(a.values())

In [34]:
sum(a.values())/len(a)

34.0

# <font color='blue'> 3. UPDATE THE PREVIOUS DICTIONARY WITH TWO OF YOUR NEXT FAVOURITE FRIENDS AND THEIR RESPECTIVE SALARIES AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES </font>

In [35]:
a["k4"] = 34
a["k5"] = 36

# method 1
print((a["k1"] + a["k2"] + a["k3"]+ a["k4"]+ a["k5"])/5)

# Method 2
print(sum(a.values())/len(a))

34.4
34.4

In [38]:
for i in a.items():
    print(i)

('k1', 23)
('k2', 34)
('k3', 45)
('k4', 34)
('k5', 36)

# <font color='blue'> 4. WRITE A CODE THAT MULTIPLIES ALL THE ELEMENTS IN THE FOLLOWING DICTIONARY

In [ ]:
z = {'data1':500,
           'data2':-10,
           'data3':300}

a = 1

a = a * z["data1"]
a = a * z["data2"]
a = a * z["data3"]

In [58]:
a = 1

for i in z:
#     print(i)
#     print(z[i])
#     print(a)
    a = a * z[i]
#     print(a)
    
#     print("-----------------")

In [59]:
a

-1500000

# <font color='blue'> 5. FOR EACH OF THE STUDENTS LIST BELOW, CALCULATE THE AVERAGE MARK FOR THE MIDTERM AND FINAL EXAMS FOR EACH STUDENT AND PUT THE AVERAGE IN A SEPARATE DICTIONARY ALONG WITH WITH THE STUDENT ID

In [61]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]


# https://justpaste.it/44xhf

In [68]:
s1 = (student_details[0]["midterm"] + student_details[0]["final"])/2
s2 = (student_details[1]["midterm"] + student_details[1]["final"])/2
s3 = (student_details[2]["midterm"] + student_details[2]["final"])/2

In [69]:
sd = [
  {'student_id' : 1, 'Marks' : s1},
  {'student_id' : 2, 'Marks' : s2},
  {'student_id' : 3, 'Marks' : s3}
]

In [70]:
sd

[{'student_id': 1, 'Marks': 72.5},
 {'student_id': 2, 'Marks': 79.0},
 {'student_id': 3, 'Marks': 87.5}]

In [ ]:


average_1 = (student_details[0]["midterm"]+student_details[0]["final"])/2
average_2 = (student_details[1]["midterm"]+student_details[1]["final"])/2
average_3 = (student_details[2]["midterm"]+student_details[2]["final"])/2

print(average_1)
print(type(average_1))


my_average = [{'student_id': 1, 'average' : average_1},
              {'student_id': 2, 'average' : average_2},
              {'student_id': 3, 'average' : average_3}
             ]

from pprint import pprint

pprint(my_average)

print()

print(my_average)

In [ ]:
a = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]

In [ ]:
a1 = (a[0]["midterm"] + a[0]["final"])/2
a2 = (a[1]["midterm"] + a[1]["final"])/2
a3 = (a[2]["midterm"] + a[2]["final"])/2

In [ ]:


average_1 = (a[0]["midterm"]+a[0]["final"])/2
average_2 = (a[1]["midterm"]+a[1]["final"])/2
average_3 = (a[2]["midterm"]+a[2]["final"])/2

print(average_1)
print(type(average_1))


my_average = [{'student_id': 1, 'average' : average_1},
              {'student_id': 2, 'average' : average_2},
              {'student_id': 3, 'average' : average_3}
             ]

from pprint import pprint

pprint(my_average)

print()

print(my_average)

# <font color='blue'> 6. REPEAT THE PREVIOUS EXERCISE BUT ADD THE AVERAGE IN A NEW DICTINARY LINE WITH "AVERAGE" AS A KEY

# <font color='blue'> 7. SQUARE EACH ELEMENT IN THE FOLLOWING DICTIONARY

In [77]:
d = {'C1' : [10,20,30],
    'C2' : [20,30,40]}

In [78]:
d["C1"]  = [d["C1"][0]**2,  d["C1"][1]**2,  d["C1"][2]**2]
d["C2"]  = [d["C2"][0]**2,  d["C2"][1]**2,  d["C2"][2]**2]
d

{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

# <font color='blue'>  8. CREATE A LIST OF ALL KEYS AND A LIST OF ALL VALUES AND THE TOTAL SUM OF ALL VALUES

In [ ]:
a = {"alex": 25, "sally": 28, "dina": 30}

# <font color='blue'>  9. OBTAIN THE LENGTH OF THE FOLLOWING DICTIONARY AND SORT ITS ELEMENTS

In [ ]:
my_dict = {"sally": 23, "dina": 22, "holy": 50, "Joe": 10, "Peter": 44}

# <font color='blue'> 10. FILTER OUT VALUES THAT ARE GREATER THAN OR EQUAL TO 30 (ADVANCED)(TO BE COVERED) </font>

In [ ]:
my_dictionary = {"Key 1": 20, "Key 2": 30, "Key 3": 50}

# <font color='blue'> 11. WHAT WILL THIS CODE GENERATE? </font>

In [ ]:
x = 10
y = 20
print(x>y)
print(x<y)
print(x==y)
print(x!=y)