
# <font color='red'> DICTIONARIES </font>

# <font color='blue'> 1. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE AGE AND PRINT OUT THE AGE OF SECOND NAME YOU CHOOSE</font>

In [1]:
my_friends = {"laila": 25, 
              "sally": 22,
              "rob": 31}
my_friends
print(my_friends["sally"])

22

# <font color='blue'> 2. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE HOURLY WAGE AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES </font>

In [14]:
a = {"laila": 25, 
              "sally": 22,
              "rob": 31} # 100

a["d1"] = 55
a["d2"] = 68

print(a)

{'laila': 25, 'sally': 22, 'rob': 31, 'd1': 55, 'd2': 68}

In [15]:
(a["laila"] + a["sally"] + a["rob"])/len(a)

15.6

In [16]:
sum(a.values())/len(a)

40.2

# <font color='blue'> 3. UPDATE THE PREVIOUS DICTIONARY WITH TWO OF YOUR NEXT FAVOURITE FRIENDS AND THEIR RESPECTIVE SALARIES AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES </font>

In [88]:

my_friends = {"laila": 25, 
              "sally": 22,
              "rob": 31}

my_friends ["Mary"] = 22
my_friends ["Peter"] = 25


print(my_friends)
print( (my_friends["laila"] + my_friends["sally"] + my_friends["rob"] + my_friends["Mary"] + my_friends["Peter"])/5)

{'laila': 25, 'sally': 22, 'rob': 31, 'Mary': 22, 'Peter': 25}
25.0

In [ ]:
print(sum(my_friends.values())/5)

# <font color='blue'> 4. WRITE A CODE THAT MULTIPLIES ALL THE ELEMENTS IN THE FOLLOWING DICTIONARY

In [20]:
my_dict = {'data1':500,
           'data2':-10,
           'data3':300}

total = 1
    
total = total * my_dict['data1']
total = total * my_dict['data2']
total = total * my_dict['data3']

print(total)

-1500000

In [22]:
def mul(a):
    
    x =1 
    for i in a.values():
        x = x * i
    return x

In [23]:
mul(my_dict)

-1500000

# <font color='blue'> 5. FOR EACH OF THE STUDENTS LIST BELOW, CALCULATE THE AVERAGE MARK FOR THE MIDTERM AND FINAL EXAMS FOR EACH STUDENT AND PUT THE AVERAGE IN A SEPARATE DICTIONARY ALONG WITH WITH THE STUDENT ID

In [25]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]


average_1 = (student_details[0]["midterm"]+student_details[0]["final"])/2
average_2 = (student_details[1]["midterm"]+student_details[1]["final"])/2
average_3 = (student_details[2]["midterm"]+student_details[2]["final"])/2

print(average_1)
print(type(average_1))


my_average = [{'student_id': 1, 'average' : average_1},
              {'student_id': 2, 'average' : average_2},
              {'student_id': 3, 'average' : average_3}
             ]

from pprint import pprint

pprint(my_average)

print()

print(my_average)

72.5
<class 'float'>
[{'average': 72.5, 'student_id': 1},
 {'average': 79.0, 'student_id': 2},
 {'average': 87.5, 'student_id': 3}]

[{'student_id': 1, 'average': 72.5}, {'student_id': 2, 'average': 79.0}, {'student_id': 3, 'average': 87.5}]

# <font color='blue'> 6. REPEAT THE PREVIOUS EXERCISE BUT ADD THE AVERAGE IN A NEW DICTINARY LINE WITH "AVERAGE" AS A KEY

In [34]:
student_details[0]['average'] = (student_details[0]["midterm"]+student_details[0]["final"])/2
student_details[1]['average'] = (student_details[1]["midterm"]+student_details[1]["final"])/2
student_details[2]['average'] = (student_details[2]["midterm"]+student_details[2]["final"])/2

print(student_details[0])

# <font color='blue'> 7. SQUARE EACH ELEMENT IN THE FOLLOWING DICTIONARY

In [32]:
a = {'C1' : [10,20,30],
    'C2' : [20,30,40]}






a["C1"] = [a["C1"][0] ** 2, a["C1"][1] ** 2, a["C1"][2] ** 2  ]
a["C2"] = [a["C2"][0] ** 2, a["C2"][1] ** 2, a["C2"][2] ** 2  ]
a

{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

In [ ]:
dictionary['C1'] = [ dictionary['C1'][0]**2 , dictionary['C1'][1]**2, dictionary['C1'][2]**2]
dictionary['C2'] = [ dictionary['C2'][0]**2 , dictionary['C2'][1]**2, dictionary['C2'][2]**2]
print(dictionary)

In [46]:
print(dictionary)

{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

# <font color='blue'>  8. CREATE A LIST OF ALL KEYS AND A LIST OF ALL VALUES AND THE TOTAL SUM OF ALL VALUES

In [33]:
my_salary = {"alex": 25, "sally": 28, "dina": 30}

names = list(my_salary.keys())
salaries = list(my_salary.values())

In [40]:
list(my_salary.keys())

['alex', 'sally', 'dina']

In [41]:
a =list(my_salary.keys())

In [42]:
a[0]

'alex'

In [34]:
salaries

[25, 28, 30]

In [35]:
names

['alex', 'sally', 'dina']

In [80]:
my_dict.values()

dict_values([23, 22, 50, 10, 44])

In [43]:
total_salaries = sum(my_salary.values())

In [44]:
total_salaries

83

# <font color='blue'>  9. OBTAIN THE LENGTH OF THE FOLLOWING DICTIONARY AND SORT ITS ELEMENTS

In [21]:
my_dict = {"sally": 23, "dina": 22, "holy": 50, "Joe": 10, "Peter": 44}

my_dict.keys()


print(len(my_dict.values()))

print(sorted(my_dict.values()))

5
[10, 22, 23, 44, 50]

# <font color='blue'> 10. FILTER OUT VALUES THAT ARE GREATER THAN OR EQUAL TO 30 (ADVANCED)(TO BE COVERED) </font>

In [1]:
my_dictionary = {"Key 1": 20, "Key 2": 30, "Key 3": 50}

result = dict((key, value)   for key, value in my_dictionary.items() if value <= 30)
print(result)

{'Key 1': 20, 'Key 2': 30}

In [2]:
my_dictionary.values()

dict_values([20, 30, 50])

In [3]:
my_dictionary.keys()

dict_keys(['Key 1', 'Key 2', 'Key 3'])

In [4]:
my_dictionary.items()

dict_items([('Key 1', 20), ('Key 2', 30), ('Key 3', 50)])

In [ ]:
  list(idjfl                          for                              if           )

# <font color='blue'> 11. WHAT WILL THIS CODE GENERATE? </font>

In [3]:
x = 10
y = 20
print(x>y)
print(x<y)
print(x==y)
print(x!=y)

False
True
False
True