
# <font color='red'> SETS AND TUPLES </font>

# <font color='blue'> 1. PRINT HELLO FOLLOWED BY THE NAMES AND THE AGE IN THE TUPLE

In [1]:
a = ("chanel", 26)
print("Hello {} {}".format(a[0], a[1]))

Hello chanel 26

# <font color='blue'> 2. DEFINE A TUPLE WITH 6 OF YOUR FAVOURITE FRIENDS, PRINT (1) ALL THE TUPLE, (2) LAST ELEMENT, (2) FIRST TWO ELEMENTS

In [3]:
a = ("q","q","q","q","q")
print(a)
print(a[-1])
print(a[:2])

('q', 'q', 'q', 'q', 'q')
q
('q', 'q')

#  <font color='blue'> 3. DEFINE A TUPLE WITH YOUR FIRST NAME, LAST NAME AND AGE. FIND THE LENGTH AND THE TYPE AS WELL.

# <font color='blue'> 4. PRINT THE NUMBER "40", PRINT THE WORD "WORLD", PRINT THE NUMBER 25, AND PRINT THE ENTIRE LIST AND TUPLE LISTED BELOW

In [ ]:
a = ("hello", [87, 40, 60], "world", (10, 25, 30))

# <font color='blue'> 5.EXECUTE THE FOLLOWING COMMANDS AND EXPLAIN WHAT WENT WRONG AND WHAT WENT RIGHT!

In [6]:
a = (40, 3, 2, [10, 4])
b = list(a)
b[0] = 10
c = tuple(b)

In [7]:
c

(10, 3, 2, [10, 4])

# <font color='blue'> 6.EXECUTE THE FOLLOWING COMMANDS AND EXPLAIN WHAT WENT WRONG AND WHAT WENT RIGHT!

In [15]:
a = (40, 3, 2, [10, 4])

a[3].clear()
a
# del a[3]

(40, 3, 2, [])

In [14]:
del my_tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

# <font color='blue'> 7. CHECK IF THE NAME "PYTHON" EXISTS IN A TUPLE

In [16]:
a = ('math','science','science','Python','english')

In [17]:
"PYYHON" in a

False

# <font color='blue'> 8. REMOVE THE DUPLICATES FROM THE FOLLOWING LIST   </font>

In [24]:
for i in a:
    if a.count(i) >= 2:
        print(i)

2
50
2
50
9
9

In [22]:
a = ["2", 50, "2", 50, 4, 6, 9, 9]
b = list(set(a))
b

[4, 6, 9, '2', 50]

#  <font color='blue'> 9. ADD YOUR NAME TO THE FOLLOWING SET AND CONVERT INTO A LIST

In [ ]:
a = {"sara", "mike", "jon", "jon", "mike"}

#  <font color='blue'> 10. RUN THIS CODE AND EXPLAIN WHAT IT DOES (WE WILL COVER IF CONDITIONS NEXT)

In [ ]:
my_grocery = {"banana", "cherry"}

if ("orange" in my_grocery):
    print("Yes, I have got orange in my grocery list!")

In [ ]:
my_grocery = {"orange", "banana", "cherry"}

if ("orange" in my_grocery):
    print("Yes, I have got orange in my grocery list!")