
# <font color='red'> LISTS </font>

# <font color='blue'> 1. PRINT FIRST, SECOND AND LAST ELEMENT IN THE LIST </font> 
Remember that the first element of the list has an index of 0

In [1]:
a = ["sara", "chanel", "mike", "ryan", "holy", "alex", "rob"]

In [2]:
a[0]

'sara'

In [3]:
a[-1]

'rob'

In [4]:
a[1]

'chanel'

# <font color='blue'> 2. PRINT (1) ALL ELEMENTS IN THE LIST, (2) "chanel" "mitch" "ryan", (3) FIRST THREE ELEMENTS, (4) LAST THREE ELEMENTS, (5) SKIP EACH OTHER ELEMENT </font>

In [5]:
a = ["sara", "chanel", "mitch", "ryan", "holy", "alex", "rob"]

In [6]:
a

['sara', 'chanel', 'mitch', 'ryan', 'holy', 'alex', 'rob']

In [7]:
a[1:4]

['chanel', 'mitch', 'ryan']

In [8]:
a[:3]

['sara', 'chanel', 'mitch']

In [9]:
a[-3:]

['holy', 'alex', 'rob']

In [10]:
a[::2]   # [start:stop:skip]

['sara', 'mitch', 'holy', 'rob']

# <font color='blue'> 3. PRINT (1) SALLY, (2) SARA, SALLY, JOE (3) ALY (WITH TWO DIFFERENT WAYS) </font>

In [ ]:
a = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [ ]:
a[1]

In [ ]:
a[-1]

In [ ]:
a[3]

# <font color='blue'> 4. PRINT THE LENGTH OF THE LIST AND ADD YOUR NAME TO THE LIST (EXTERNAL RESEARCH) </font> 
    - research the method: append()

In [16]:
a = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]
print(len(a))

4

In [17]:
a.append("dev")

# <font color='blue'> 5. REMOVE "PETER" FROM THE LIST USING TWO DIFFERENT METHODS (EXTERNAL RESEARCH)  </font> 
    - remove()
    - del

In [14]:
a.remove("peter")

In [20]:
del a[2]

In [21]:
a

['Mitch', ['sara', 'sally', 'joe'], 'aly', 'dev']

In [ ]:
a = ["Mitch", ["sara", "sally", "joe"], "peter","peter", "peter","peter", "aly"]

# a.remove("peter")
# a

In [ ]:
del a[-1]

In [ ]:
a

In [ ]:
c = a.count("peter")

In [ ]:
for i in range(c):
    a.remove("peter")

In [ ]:
a

# <font color='blue'> 6. SORT ELEMENTS IN A LIST AND REVERSE ALL ELEMENTS TO GO FROM MAXIMUM TO MINIMUM </font> 
    - sort()
    - reverse()

In [22]:
a = [50, 20, 30, 10, 40, 15, 45]

a.sort(reverse=True)
a

[10, 15, 20, 30, 40, 45, 50]

In [23]:
a.reverse()

In [24]:
a

[50, 45, 40, 30, 20, 15, 10]

# <font color='blue'> 7. CREATE A NEW LIST THAT CONTAINS THE LAST ELEMENTS IN THE NESTED LISTS </font>

In [43]:
a = [['chips','jelly','chocolate'],
                ['sweet potatoes','potataoes'],
                ['peanuts','protein bar']]

In [44]:
# Mehtod 1
ans = []

for i in range(len(a)):
    ans.append(a[i][-1])
    
ans

['chocolate', 'potataoes', 'protein bar']

In [45]:
# Method 2
ans = []

ans.append(a[0][-1])
ans.append(a[1][-1])
ans.append(a[2][-1])

ans

['chocolate', 'potataoes', 'protein bar']

# <font color='blue'> 8. CREATE A LIST WITH 5 OF YOUR CLOSEST FRIENDS AND SORT THEM ALPHABETICALLY </font>

In [ ]:
a = ["dev", "b", "z", "a", "u", "h"]

In [ ]:
a.sort()

In [ ]:
a