# FUNCTIONS
- A function is a block of code that can run whenever it is called (by the main function for example).
- Data or arguments can be passed to the function and also returned from the function.

In [1]:
def my_function():
    print('hello world')
    
print("abc")

abc

In [5]:
my_function()
my_function()
my_function()

hello world
hello world
hello world

In [6]:
def squared2(x):
     print(x**2)

In [7]:
def squared1(x):
    return x**2

In [8]:
squared1(10)

100

In [9]:
squared2(10)

100

# Without Return

In [10]:
def sq1(x):
    print(x**2)

In [11]:
sq1(5)

25

In [12]:
a = sq1(5)

25

In [13]:
print(a)

None

In [14]:
type(a)

NoneType

# With Return

In [15]:
def sq2(x):
    return x**2

In [16]:
sq2(5)

25

In [18]:
a = sq2(5)

In [19]:
print(a)

25

In [20]:
type(a)

int

In [21]:
def multiply(x):
    return x * 10

In [22]:
multiply()

TypeError: multiply() missing 1 required positional argument: 'x'

In [23]:
multiply(10)

100

In [24]:
def my_function(age=20):
    print("I am {} years old".format(age))

In [25]:
my_function()

I am 20 years old

In [26]:
my_function(30)

I am 30 years old

In [27]:
def summation(x = 100, y = 50):
    return x+y

In [28]:
summation()

150

In [29]:
summation(y=3, x=3)

6

In [30]:
def test(a, e , b=3):
    """
    Objective: Take 3 input parameter and return sum
    
    a = int 
    b = int
    c = int
    
    return : addition 
    """
    return a+e+b

In [32]:
test(3,4)

10

In [ ]:
def greetings_function(name, greetings):
    print('Happy New year {}!, I wish you {}'.format(name, greetings))

In [ ]:
greetings_function('Devdatta', 'Happiness')

In [ ]:
greetings_function('Dev', 'wealth')

In [ ]:
import math

In [ ]:
math.sqrt(234)

In [ ]:
def circle(r):
    return (2 * r, 3.14 * r **2)

In [ ]:
circle(2)

In [ ]:
d -> f
f -> d
k -> d
f -> k

In [ ]:
def temp_conversion(temp, from, to):
    if

In [ ]:
temp_conversion(34, "k", "d")

In [ ]:
c = int(input("enter temp in "))

In [ ]:
c

In [ ]:
f = 9/5*c+32

In [ ]:
f