In [ ]:
a = "hi my name is devd i am 34 years old"

In [ ]:
a.split()

In [ ]:
for i in a.split():
    print("[INFO] I", i)
    print("[INFO] TYPE OF I: ", type(i))
    print("[INFO] I.SPLIT: ", i.split())
    print("#########################################")

# PYTHON PROGRAMMING FUNDAMENTALS

# TEXT FILES
- fopen() is the key function to handle files 
- open() function takes two parameters; filename, and mode.
- Modes for files opening: 

    - "r" - Read - Default value. Opens a file for reading, error if the file does not exist
    - "a" - Append - Opens a file for appending, creates the file if it does not exist
    - "w" - Write - Opens a file for writing, creates the file if it does not exist
    - "x" - Create - Creates the specified file, returns an error if the file exists

- files can be used in a binary or text mode

    - "t" - Text - Default value. Text mode
    - "b" - Binary - Binary mode (e.g. images)

# CSV FILES

In [8]:
import csv

with open('sample_file.csv') as f:
    readCSV = csv.reader(f, delimiter = ',')
    data = list(readCSV)

In [9]:
data

[['first', ' last', ' email', ' postal', ' gender', ' dollar'],
 ['Joseph', 'Patton', 'daafeja@boh.jm', 'M6U 5U7', 'Male', '$2,629.13 '],
 ['Noah', 'Moran', 'guutodi@bigwoc.kw', 'K2D 4M9', 'Male', '$8,626.96 '],
 ['Nina', 'Keller', 'azikez@gahew.mr', 'S1T 4E6', 'Male', '$9,072.02 ']]

In [10]:
for i in data[1:3]:
    print(i)

['Joseph', 'Patton', 'daafeja@boh.jm', 'M6U 5U7', 'Male', '$2,629.13 ']
['Noah', 'Moran', 'guutodi@bigwoc.kw', 'K2D 4M9', 'Male', '$8,626.96 ']

In [5]:
import pandas as pd

df = pd.read_csv("sample_file.csv")

In [6]:
df

    first    last              email   postal  gender      dollar
0  Joseph  Patton     daafeja@boh.jm  M6U 5U7    Male  $2,629.13
1    Noah   Moran  guutodi@bigwoc.kw  K2D 4M9    Male  $8,626.96
2    Nina  Keller    azikez@gahew.mr  S1T 4E6    Male  $9,072.02

In [ ]:
df.head(2)

In [11]:
df.columns

Index(['first', ' last', ' email', ' postal', ' gender', ' dollar'], dtype='object')

In [ ]:
df["first"] + "_" +  df[' last']

In [ ]:
df.info()

In [12]:
full_name = []

for row in data[1:]:
    full_name.append( row[0] + "_" + row[1] )

In [13]:
full_name

['Joseph_Patton', 'Noah_Moran', 'Nina_Keller']

In [ ]:
dollar = []
for row in data[1:4]:
    dollar.append(row[5])

In [ ]:
dollar

In [ ]:
df[" dollar"]

In [ ]:
import pandas as pd